.grid {
    width: 400px;
    height: 600px;
    background-color: #C8B8DB;
    position: relative;
}

.doodler {
    width: 60px;
    height: 85px;
    position: relative;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: #042E17;
    position: absolute;
}

.grid {
    width: 400px;
    height: 600px;
    background-image: url('background.png');
    position: relative;
    font-size: 100px;
    text-align: center;
  }
  
  .doodler {
    width: 87px;
    height: 85px;
    background-image: url('doodler-guy.png');
    position: absolute;
    border-radius: 25%;
  }
  
  .platform {
    width: 85px;
    height: 15px;
    background-image: url('platform.png');
    position: absolute;
  }